:root {

    /* colors */
    --primary-color: #e76f51;
    --secondary-color: #2a9d8f;
    --light-color: #f8f9fa;
    --dark-color: #6c757d;
    /* witdh */
    --max-width: 1100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--light-color);
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif;
    margin: .7rem;
    line-height: 1.3;
}

p{
    margin: .5rem 0;
}


/* utils */

.container{
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;
}

.btn{
    display: inline-block;
    border: none;
    background-color: var(--dark-color);
    color: #fff;
    padding: .4rem 1.6rem;
}

.btn-light{
    background-color: var(--light-color);
}

.btn-dark{
    background-color: var(--dark-color);
}

.btn-primary{
    background-color: var(--primary-color);
}

.btn:hover{
    opacity: 0.8;
}

.btn-block{
    display: block;
    width: 100%;
    text-align: center;
}

.bg-primary{
    background-color: var(--primary-color);
    color: #fff;
}

.bg-secondary{
    background-color: var(--secondary-color) !important;
    color: #fff;
}

.bg-light{
    background-color: var(--light-color);
    color: var(--dark-color);
}

.bg-dark{
    background-color: var(--dark-color);
    color: #fff;
}

.p-1{padding: .5rem;}
.p-2{padding: .6rem;}
.p-3{padding: .8rem;}
.p-4{padding: 1rem;}

.pt-1{padding-top: .5rem;}
.pt-2{padding-top: .6rem;}
.pt-3{padding-top: .8rem;}
.pt-4{padding-top: 1rem;}

.py-1{padding:.5rem 0;}
.py-2{padding:1.5rem 0;}

.px-1{padding:0 .5rem;}
.px-2{padding:0 .6rem;}

.m-1{margin: .5rem;}
.m-2{margin: .6rem;}
.m-3{margin: .8rem;}
.m-4{margin: 1rem;}

.mb-1{margin-bottom: .5rem;}
.mb-2{margin-bottom: .6rem;}
.mb-3{margin-bottom: .8rem;}
.mb-4{margin-bottom: 1rem;}

.card{
    background-color: #fff;
    padding: 1rem;
}

.card-primary{
    background-color: var(--primary-color);
    padding: 1rem;
}

.category{
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    padding-block-end: .6rem .8rem;
    padding: .5rem;
    background-color: var(--secondary-color);
    border-radius: 15px;
    margin-bottom: .5rem;
}

/* navbar css*/

#main-nav{
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 3;
}

/*  */
#main-nav .container{
    display: grid;
    grid-template-columns: 0.6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}
/*  */

#main-nav .logo{
    width: 6.5rem;
}

#main-nav ul{
    display: flex;
    justify-content: space-evenly;
}

#main-nav .social-icons {
    justify-self: center;
}

.social-icons a{
    margin: 0 .5rem;
    font-weight: bold;
}

#main-nav ul a{
    padding: .5rem 1rem;
}

#main-nav ul a:hover {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 0.5rem;
    transition: 0.5s ease;
}

/* header css */

#main-header{
    color: #fff;
    background: #333;
    padding: 2rem;
    position: relative;
}

#main-header::before{
    content: '';
    background: url(../img/rowing.jpeg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#main-header .header-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50vh;
    align-items: center;
}

#main-header .header-content{
    z-index: 2;
}


/* Articles css */

#main-articles .articles-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/* footer css */

#main-footer{
    background-color: var(--dark-color);
    color: #fff;
}

#main-footer img{
    width: 15rem;
}

#main-footer a{
    color: #fff;
}
/*  */
#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
}

#main-footer .footer-container > *:last-child {
    background-color: #444;
    grid-column: 1 / span 4;
    padding: .5rem;
    text-align: center;
}
/*  */

#main-footer .footer-container input[type='email'] {
    width: 90%;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
}

#main-footer .footer-container input[type='submit'] {
    width: 90%;
}

#main-footer .footer-container li{
    padding: .5rem 0;
    border-bottom: 1px solid #555;
    width: 90%;
}

#main-footer .footer-container ul li a:hover{
    color: var(--primary-color);
    transition: .5s ease;
}

/* Article CSS */


.page-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2.5rem 0;
    gap: 1.5rem;
}

.page-container > *:first-child{
    grid-row: 1 / span 3;
}

#article .meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #eee;
}

.page-container #categories ul li{
    padding: .5rem 0;
    border-bottom: 1px solid #555;
    width: 90%;
}


.page-container #categories ul li a:hover{
    color: var(--primary-color);
    transition: .3s;
}

/* responsiveness */

@media screen and (max-width: 768px) {
    
    #main-nav .social-icons{
        display: none;
    }

    #main-nav .container{
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

    #main-nav img{
        width: 9rem;
    }

    #main-nav img,
    #main-nav ul{
        justify-self: center;
    }

    #main-articles .articles-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px){
    #main-header .header-container{
        grid-template-columns: 1fr;
    }

    #main-articles .articles-container,
    #main-footer .footer-container {
        grid-template-columns: 1fr;
    }

    #main-footer .footer-container > *:last-child{
        grid-column: 1;
    }

    #main-footer .footer-container > *{
        border-bottom: 1px dotted #444;
        padding-bottom: 1rem;
    }

    .page-container{
        grid-template-columns: 1fr;
    }
}